@import "./variables.module.scss";

@layer basic-ui {
  .loader-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .loader {
        @keyframes rotation {
          0% {
            transform: rotate(0deg);
          }

          100% {
            transform: rotate(360deg);
          }
        }

        border-radius: 50%;
        display: inline-block;
        border-top: 2px solid;
        border-color: $color;
        border-right: 2px solid transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;

        &.alternative-color {
          border-color: $alternativeColor;
        }
      }
    }
  }
}
