@layer basic-ui {
  .checkbox-container {
    min-height: var(--sizeFormElementHeightSmall);
    max-height: var(--sizeFormElementHeightSmall);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    transition:
      background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    .checkbox-icon-container {
      min-width: var(--sizeFormElementHeightSmall);
      min-height: var(--sizeFormElementHeightSmall);
      max-width: var(--sizeFormElementHeightSmall);
      max-height: var(--sizeFormElementHeightSmall);
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--colorFormBorder);
      border-radius: var(--borderRadiusSmall);

      .checkbox-partial-icon {
        transition:
          max-width 100ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
          max-height 100ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        background-color: var(--colorActionPrimary);
      }

      .checkbox-icon {
        color: var(--colorActionPrimary);
        transition: font-size 100ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        max-width: 0;
        font-size: 1px !important;
        visibility: hidden;
        opacity: 0;
      }
    }

    &:hover {
      .checkbox-icon-container {
        border-color: var(--colorActionPrimary);
        background-color: var(--colorLinkActive);
      }
    }

    &.disabled {
      cursor: default;

      .checkbox-icon-container {
        border-color: var(--colorFormBackgroundDisabled);

        .checkbox-partial-icon {
          background-color: var(--colorFormBackgroundDisabled);
        }

        .checkbox-icon {
          color: var(--colorFormBackgroundDisabled);
        }
      }

      &:hover {
        .checkbox-icon-container {
          background-color: transparent;
        }
      }
    }

    &.error {
      .checkbox-icon-container {
        border-color: var(--colorFormBorderError);
      }
    }

    .checkbox-label {
      margin-left: var(--spacingItemsClose);
    }

    input {
      display: none;
    }

    &.checked {
      .checkbox-icon {
        max-width: 100%;
        visibility: visible;
        opacity: 1;
        font-size: var(--sizeFormElementHeightSmall) !important;
      }
    }

    &.partial {
      .checkbox-partial-icon {
        min-width: var(--sizeFormElementHeightCheck);
        min-height: var(--sizeFormElementHeightCheck);
        max-width: var(--sizeFormElementHeightCheck);
        max-height: var(--sizeFormElementHeightCheck);
      }
    }
  }
}
