@layer basic-ui {
  .brick {
    background: var(--colorBackgroundBlock);
    border-radius: var(--borderRadius);
    box-sizing: border-box;
    padding: var(--spacingContentBlockTop) var(--spacingContentBlockSides);

    &.flex {
      display: flex;
      flex-direction: column;
    }

    &.whole {
      width: 100%;
    }
  }
}
