@import "@/ui/constants/styles/globalSizes.module.scss";

$brickBackground: var(--colorBackgroundBlock);
$brickPadding: var(----spacingContentBlockTop) var(--spacingContentBlockSides);
$brickMediumPadding: var(--spacingContentBlockTopMedium)
  var(--spacingContentBlockSidesMedium);
$brickSmallPadding: var(--spacingContentBlockTopSmall)
  var(--spacingContentBlockSidesSmall);
