@import "./variables.module.scss";

@layer basic-ui {
  .switch-container {
    width: 100%;
    display: flex;
    align-items: center;

    .switch-content-container {
      min-height: var(--sizeButtonHeight);
      max-height: var(--sizeButtonHeight);
      min-width: $switchWidth;
      max-width: $switchWidth;
      display: flex;
      align-items: center;
      background-color: var(--colorFormBackground);
      border-radius: var(--borderRadiusFormElement);
      padding: 6px;
      box-sizing: border-box;
      position: relative;
      cursor: pointer;
      transition: background-color 0.3s ease;

      .switch {
        min-width: var(--sizeFormElementHeightSmall);
        max-width: var(--sizeFormElementHeightSmall);
        min-height: var(--sizeFormElementHeightSmall);
        max-height: var(--sizeFormElementHeightSmall);
        border-radius: var(--sizeFormElementHeightSmall);
        background-color: var(--colorTextWhite);
        position: absolute;
        left: calc(100% - $switchPadding - var(--sizeFormElementHeightSmall));
        top: calc(50% - var(--sizeFormElementHeightSmall) / 2);
        transition: left 0.3s ease;
      }

      .switch-text {
        flex: 1 1;
        transition: opacity 0.3s ease;

        &.on {
          text-align: left;
          opacity: 0;
          visibility: hidden;
        }

        &.off {
          text-align: right;
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &.checked {
      .switch-content-container {
        background-color: var(--colorActionPrimary);

        .switch {
          left: $switchPadding;
        }

        .switch-text {
          &.on {
            opacity: 1;
            visibility: visible;
          }

          &.off {
            opacity: 0;
            visibility: hidden;
          }
        }
      }
    }

    .switch-label {
      margin-left: var(--spacingItemsOnSameLevel);
      &.left {
        margin-left: 0;
        margin-right: var(--spacingItemsOnSameLevel);
      }
    }

    &.without-text {
      .switch-content-container {
        min-width: calc(
          var(--sizeButtonHeight) + var(--sizeFormElementHeightSmall)
        );
        max-width: calc(
          var(--sizeButtonHeight) + var(--sizeFormElementHeightSmall)
        );
        border-radius: var(--borderRadius);
      }
    }

    &.disabled {
      .switch-content-container {
        background-color: var(--colorFormBackgroundDisabled);
        cursor: default;
        pointer-events: none;
      }
    }
  }
}
