@import "@/ui/constants/styles/globalColors.module.scss";

$buttonPrimaryBackgroundColor: var(--colorActionPrimary);
$buttonPrimaryBackgroundColorHover: var(--colorActionPrimaryHover);
$buttonSecondaryBackgroundColorHover: var(--colorActionSecondary);
$buttonSecondaryBackgroundColor: var(--colorActionSecondaryHover);
$buttonSuccessBackgroundColor: var(--colorActionSuccess);
$buttonSuccessBackgroundColorHover: var(--colorActionSuccessHover);
$buttonSuccessFontColor: var(--colorActionSuccessFont);
$buttonRemoveBackgroundColor: var(--colorActionRemove);
$buttonRemoveBackgroundColorHover: var(--colorActionRemoveHover);
$buttonRemoveFontColor: var(--colorActionRemoveFont);
$buttonCancelBackgroundColor: var(--colorActionCancel);
$buttonCancelBackgroundColorHover: var(--colorActionCancelHover);
$buttonCancelFontColor: var(--colorActionCancelFont);
$borderSize: 1px;
$fontColor: var(--colorTextWhite);
$fontSize: 16px;
$padding: 12px 24px;
$onlyIconPadding: 8px;
$iconPadding: 0px 20px 0px 15px;
$endIconPadding: 8px 15px 8px 20px;
$borderRadius: 10px;
$lineHeight: 16px;
$buttonHeight: 40px;
