$buttonPrimaryBackgroundColor: var(--colorActionPrimary);
$buttonPrimaryBackgroundColorHover: var(--colorActionPrimaryHover);
$buttonPrimaryBackgroundColorPressed: var(--colorActionPrimaryPressed);
$buttonSecondaryBackgroundColorHover: var(--colorActionSecondary);
$buttonSecondaryBackgroundColor: var(--colorActionSecondaryHover);
$buttonSecondaryBackgroundColorPressed: var(--colorActionSecondaryPressed);
$buttonSuccessBackgroundColor: var(--colorActionSuccess);
$buttonSuccessBackgroundColorHover: var(--colorActionSuccessHover);
$buttonSuccessBackgroundColorPressed: var(--colorActionSuccessPressed);
$buttonSuccessFontColor: var(--colorActionSuccessFont);
$buttonRemoveBackgroundColor: var(--colorActionRemove);
$buttonRemoveBackgroundColorHover: var(--colorActionRemoveHover);
$buttonRemoveBackgroundColorPressed: var(--colorActionRemovePressed);
$buttonRemoveFontColor: var(--colorActionRemoveFont);
$buttonCancelBackgroundColor: var(--colorActionCancel);
$buttonCancelBackgroundColorHover: var(--colorActionCancelHover);
$buttonCancelBackgroundColorPressed: var(--colorActionCancelPressed);
$buttonCancelFontColor: var(--colorActionCancelFont);
$borderSize: 1px;
$fontColor: var(--colorTextWhite);
$fontSize: 16px;
$padding: 12px 24px;
$onlyIconPadding: 8px;
$iconPadding: 0px 20px 0px 15px;
$endIconPadding: 8px 15px 8px 20px;
$borderRadius: var(--borderRadiusFormElement);
$lineHeight: 1rem;
$buttonHeight: 40px;
