@import "./variables.module.scss";

.select-container {
  width: 100%;
  cursor: pointer;
}

.select-option-popup {
  max-width: 100%;
  overflow: hidden;

  .select-option-container {
    background-color: $FORM_INNER_BACKGROUND;
    border-radius: $DEFAULT_FORMS_BORDER_RADIUS;
    border: 1px solid $FORM_BORDER_COLOR;
    padding: $DEFAULT_FORMS_ELEMENT_CONTENT_TOP_BOTTOM_PADDING
      $DEFAULT_FORMS_ELEMENT_CONTENT_SIDES_PADDING / 2;
    overflow: auto;
    max-height: $selectMenuMaxHeight;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .select-option {
    padding: $DEFAULT_FORMS_ELEMENT_CONTENT_TOP_BOTTOM_PADDING / 2
      $DEFAULT_FORMS_ELEMENT_CONTENT_SIDES_PADDING / 2;
    border-radius: $DEFAULT_FORMS_BORDER_RADIUS;
    cursor: pointer;

    &.selected {
      background-color: $MAIN_SEA_ACTION_COLOR;
    }

    &:hover {
      background-color: $MAIN_PRIMARY_ACTION_COLOR;
    }
  }
}
