$selectMenuMaxHeight: 300px;
$spacingSelectOptionContainerSides: calc(var(--spacingFormElementSides) * 0.5);
$spacingSelectOptionSides: calc(var(--spacingFormElementSides) * 0.5);
$spacingSelectOptionTop: calc(var(--spacingFormElementTop) * 0.5);
