@import "./variables.module.scss";

@layer ui {
  .divider {
    opacity: $dividerOpacity;
    padding: 0;
    margin: 0;
    border: 0;

    &.horizontal {
      width: 100%;
      border-bottom: $dividerBorderSize solid $dividerBorderColor;
    }

    &.vertical {
      height: 100%;
      border-left: $dividerBorderSize solid $dividerBorderColor;
    }
  }
}
