@import "./variables.module.scss";

@layer complex-ui {
  .note {
    padding: var(--spacingContentBlockTop) var(--spacingContentBlockSides);
    border-radius: var(--borderRadius);
    position: relative;

    &.info {
      background-color: $infoNoteBackgroundColor;
      color: $infoNoteFontColor;
    }

    &.warning {
      background-color: $warningNoteBackgroundColor;
      color: $warningNoteFontColor;
    }

    &.success {
      background-color: $successNoteBackgroundColor;
      color: $successNoteFontColor;
    }

    button.close-button {
      position: absolute;
      top: var(--spacingItemsClose);
      right: var(--spacingItemsClose);
      color: inherit;
    }
  }
}
