@import "@/ui/constants/styles/globalColors.module.scss";
@import "@/ui/constants/styles/globalSizes.module.scss";
@import "@/ui/constants/styles/globalVariables.module.scss";

$infoNoteBackgroundColor: var(--colorBackgroundBlock);
$infoNoteFontColor: var(--colorTextWhite);
$warningNoteBackgroundColor: var(--colorActionRemove);
$warningNoteFontColor: var(--colorTextDark);
$successNoteBackgroundColor: var(--colorActionSuccess);
$successNoteFontColor: var(--colorTextDark);
