$MAIN_FONT_SIZE: 16px;
$DEFAULT_OUTER_SIDES_PADDING: 120px;
$DEFAULT_OUTER_TOP_BOTTOM_PADDING: 70px;
$DEFAULT_CONTENT_SIDES_PADDING: 50px;
$DEFAULT_CONTENT_TOP_BOTTOM_PADDING: 40px;
$DEFAULT_INNER_CONTENT_MARGIN: 10px;
$DEFAULT_BORDER_RADIUS: 16px;
$DEFAULT_SMALL_BORDER_RADIUS: 4px;
$DEFAULT_ITEMS_MARGIN: 20px;
$DEFAULT_LAYOUT_ITEMS_GAP: 20px;
// lists
$DEFAULT_LISTS_OUTER_SIDES_PADDING: 16px;
$DEFAULT_LISTS_OUTER_TOP_BOTTOM_PADDING: 18px;
$DEFAULT_LISTS_ITEM_SIDES_PADDING: 12px;
$DEFAULT_LISTS_ITEM_TOP_BOTTOM_PADDING: 9px;
