// media settings
$extraSmallDevices: 575.98px;
$smallDevices: 576px;
$mediumDevices: 768px;
$largeDevices: 992px;
// sizes
$MAIN_FONT_SIZE: 16px;
$MAIN_FONT_SIZE_MEDIUM: 14px;
$MAIN_FONT_SIZE_SMALL: 12px;
$DEFAULT_CONTAINER_SIDES_PADDING: 120px;
$DEFAULT_CONTAINER_SIDES_PADDING_MEDIUM: 80px;
$DEFAULT_CONTAINER_SIDES_PADDING_SMALL: 20px;
$DEFAULT_CONTAINER_TOP_BOTTOM_PADDING: 70px;
$DEFAULT_CONTAINER_TOP_BOTTOM_PADDING_MEDIUM: 50px;
$DEFAULT_CONTAINER_TOP_BOTTOM_PADDING_SMALL: 20px;
$DEFAULT_CONTENT_BLOCK_SIDES_PADDING: 50px;
$DEFAULT_CONTENT_BLOCK_SIDES_PADDING_MEDIUM: 30px;
$DEFAULT_CONTENT_BLOCK_SIDES_PADDING_SMALL: 20px;
$DEFAULT_CONTENT_BLOCK_TOP_BOTTOM_PADDING: 40px;
$DEFAULT_CONTENT_BLOCK_TOP_BOTTOM_PADDING_MEDIUM: 30px;
$DEFAULT_CONTENT_BLOCK_TOP_BOTTOM_PADDING_SMALL: 20px;
$DEFAULT_BUTTON_HEIGHT: 40px;
$DEFAULT_BORDER_RADIUS: 16px;
$DEFAULT_SMALL_BORDER_RADIUS: 4px;
$DEFAULT_ITEMS_MARGIN: 20px;
$DEFAULT_ITEMS_SAME_LEVEL_MARGIN: 10px;
// lists
$DEFAULT_LISTS_OUTER_SIDES_PADDING: 16px;
$DEFAULT_LISTS_OUTER_TOP_BOTTOM_PADDING: 18px;
$DEFAULT_LISTS_ITEM_SIDES_PADDING: 12px;
$DEFAULT_LISTS_ITEM_TOP_BOTTOM_PADDING: 9px;
// forms
$DEFAULT_FORMS_BORDER_RADIUS: 10px;
$DEFAULT_FORMS_ELEMENT_HEIGHT: 53px;
$DEFAULT_FORMS_ELEMENT_SMALL_HEIGHT: round($DEFAULT_FORMS_ELEMENT_HEIGHT / 3);
$DEFAULT_FORMS_ELEMENT_CHECK_HEIGHT: round($DEFAULT_FORMS_ELEMENT_HEIGHT / 6);
$DEFAULT_FORMS_ELEMENT_CONTENT_SIDES_PADDING: 28px;
$DEFAULT_FORMS_ELEMENT_LABEL_TRANSFORM_SCALE: 0.75;
$DEFAULT_FORMS_ELEMENT_CONTENT_TOP_BOTTOM_PADDING: 14px;
