@layer combined-ui {
  .tag-container {
    display: flex;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
    padding: 0 0.5rem;
    background-color: var(--colorFormBackground);
    border-radius: var(--borderRadius);
    align-items: center;
    border: 1px solid var(--colorFormBorder);

    &.borderless {
      border: none;
    }

    .tag-close {
      margin-left: var(--spacingItemsOnSameLevel);
      padding: 0;
      min-height: 0.7rem;
      max-height: 0.7rem;
      min-width: 0.7rem;
      max-width: 0.7rem;

      > span {
        font-size: 0.7rem !important;
        color: var(--colorTextWhite);
      }
    }
  }
}
