@import "@/ui/constants/styles/globalColors.module.scss";
@import "@/ui/constants/styles/globalSizes.module.scss";
@import "@/ui/constants/styles/globalVariables.module.scss";

$menuBackgroundColor: var(--colorBackgroundMenu);
$menuPadding: var(--spacingListOutTop) var(--spacingListOutSides);
$menuItemPadding: var(--spacingListItemTop) var(--spacingListItemSides);
$menuItemColor: var(--colorTextWhite);
$menuItemHoverColor: var(--colorActionPrimary);
$menuItemHoverBackgroundColor: var(--colorLinkActive);
$menuItemFontSize: 1rem;
$menuItemFontLineHeight: 18px;
$menuItemMarginBetweenItems: 5px;
$menuItemBorderRadius: 3px;
$menuItemHeight: calc($menuItemFontLineHeight + 2 * var(--spacingListItemTop));
$menuCategoryBorderColor: var(--colorActionPrimary);
$menuCategoryFontSize: 1.2rem;
