@import "./variables.module.scss";

@layer basic-ui {
  .wall {
    background: $wallBackground;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: visible;
    box-sizing: border-box;
    max-width: 125ch;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $extraSmallDevices) {
    .wall {
      padding: $wallPaddingSmall;
    }
  }

  @media (min-width: $smallDevices) {
    .wall {
      padding: $wallPaddingSmall;
    }
  }

  @media (min-width: $mediumDevices) {
    .wall {
      padding: $wallPaddingMedium;
    }
  }

  @media (min-width: $largeDevices) {
    .wall {
      padding: $wallPadding;
    }
  }
}
