@layer basic-ui {
  .wall {
    padding: var(--spacingContainerTop) var(--spacingContainerSides);
    background: var(--colorBackgroundMain);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: visible;
    box-sizing: border-box;
    max-width: 125ch;
    margin-left: auto;
    margin-right: auto;
  }
}
