@import "@/ui/constants/styles/globalSizes.module.scss";

$wallBackground: var(--colorBackgroundMain);
$wallPadding: var(--spacingContainerTop) var(--spacingContainerSides);
$wallPaddingMedium: var(--spacingContainerTopMedium)
  var(--spacingContainerSidesMedium);
$wallPaddingSmall: var(--spacingContainerTopSmall)
  var(--spacingContainerSidesSmall);
