@import "./variables.module.scss";

@layer combined-ui {
  .demo {
    padding: 0;
    max-width: 100%;

    .demo-code-container,
    .demo-content {
      max-width: 100%;
      padding: var(--spacingContentBlockTop) var(--spacingContentBlockSides);
    }

    .demo-action-panel {
      padding: $demoActionPanelPadding;
      display: flex;
      background: var(--colorBackgroundBlockDarker);

      .demo-code-button {
        padding: $demoActionPanelButtonPadding;
        max-height: fit-content;
        min-height: fit-content;
      }
    }
  }
}
