@import "./variables.module.scss";

@layer combined-ui {
  .demo {
    padding: 0;

    .demo-content {
      padding: $demoContentPadding;
    }

    .demo-action-panel {
      padding: $demoActionPanelPadding;
      display: flex;
      background: $DARKER_BLOCK_BACKGROUND;

      .demo-code-button {
        padding: $demoActionPanelButtonPadding;
        max-height: fit-content;
        min-height: fit-content;
      }
    }

    .demo-code {
      margin: $demoContentPadding;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }
}
