@import "./variables.module.scss";

@layer combined-ui {
  .demo {
    padding: 0;
    max-width: 100%;

    .demo-code-container,
    .demo-content {
      max-width: 100%;
    }

    .demo-action-panel {
      padding: $demoActionPanelPadding;
      display: flex;
      background: $DARKER_BLOCK_BACKGROUND;

      .demo-code-button {
        padding: $demoActionPanelButtonPadding;
        max-height: fit-content;
        min-height: fit-content;
      }
    }
  }

  @media (max-width: $extraSmallDevices) {
    .demo-code-container,
    .demo-content {
      padding: $demoSmallContentPadding;
    }
  }

  @media (min-width: $smallDevices) {
    .demo-code-container,
    .demo-content {
      padding: $demoSmallContentPadding;
    }
  }

  @media (min-width: $mediumDevices) {
    .demo-code-container,
    .demo-content {
      padding: $demoMediumContentPadding;
    }
  }

  @media (min-width: $largeDevices) {
    .demo-code-container,
    .demo-content {
      padding: $demoContentPadding;
    }
  }
}
