@import "./variables.module.scss";

@layer basic-ui {
  .code {
    background: $codeBackgroundColor;
    position: relative;
    border-radius: $DEFAULT_SMALL_BORDER_RADIUS;
    padding: $codePadding;
    border-left: 5px solid $codeBorderColor;
    max-width: 100%;
    box-sizing: border-box;
    overflow: auto;
    max-height: 400px;

    .line {
      .line-number {
        margin-right: $codeLineNumberMargin;
        user-select: none;
        opacity: 0.5;
      }
      .line-text {
        opacity: 0.9;
      }
    }

    button.copy-button {
      opacity: 0.8;
      position: absolute;
      top: $DEFAULT_CONTENT_TOP_BOTTOM_PADDING / 2;
      right: $DEFAULT_CONTENT_SIDES_PADDING / 2;
      &:hover {
        opacity: 1;
      }
    }
  }
}
