@import "@/ui/constants/styles/globalColors.module.scss";
@import "@/ui/constants/styles/globalSizes.module.scss";
@import "@/ui/constants/styles/globalVariables.module.scss";

$codeBackgroundColor: var(--colorBackgroundBlockDarker);
$codeBorderColor: var(--colorActionPrimary);
$REMOVE_codePadding1: var(--spacingListItemTop);
$REMOVE_codePadding2: var(--spacingListItemSides);
$codePadding: calc($REMOVE_codePadding1 * 2) calc($REMOVE_codePadding2 * 2);
$codeLineNumberMargin: var(--spacingListItemSides);
