@import "@/ui/constants/styles/globalColors.module.scss";
@import "@/ui/constants/styles/globalSizes.module.scss";
@import "@/ui/constants/styles/globalVariables.module.scss";

$codeBackgroundColor: var(--colorBackgroundBlockDarker);
$codeBorderColor: var(--colorActionPrimary);
$codePadding: calc(var(--spacingListItemTop) * 2)
  calc(var(--spacingListItemSides) * 2);
$codeLineNumberMargin: var(--spacingListItemSides);
$spacingCodeButtonSides: calc(var(--spacingContentBlockSides) * 0.5);
$spacingCodeButtonTop: calc(var(--spacingContentBlockTop) * 0.5);
