@import "./variables.module.scss";

@layer basic-ui {
  .tab-panel {
    display: flex;
    width: 100%;
    position: relative;

    > hr {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: $tabBorderSize;
      background: $tabPanelBorderColor;
      border: none;
      border-radius: 2px;
      margin: 0;
    }

    .tab {
      cursor: pointer;
      position: relative;
      color: $MAIN_FONT_COLOR;

      &.active {
        > hr {
          background: $tabPanelActiveColor;
        }
      }

      &:hover {
        color: $tabPanelActiveColor;

        &.active {
          color: $MAIN_FONT_COLOR;
          cursor: default;
        }
      }

      > hr {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: $tabBorderSize;
        background: $tabPanelBorder;
        border: none;
        border-radius: 2px;
        margin: 0;
      }
    }
  }

  @media (max-width: $extraSmallDevices) {
    .tab {
      padding: $tabPaddingSmall;
      margin-right: $tabMarginSmall;
    }
  }

  @media (min-width: $smallDevices) {
    .tab {
      padding: $tabPaddingSmall;
      margin-right: $tabMarginSmall;
    }
  }

  @media (min-width: $mediumDevices) {
    .tab {
      padding: $tabPaddingMedium;
      margin-right: $tabMarginMedium;
    }
  }

  @media (min-width: $largeDevices) {
    .tab {
      padding: $tabPadding;
      margin-right: $tabMargin;
    }
  }
}
