@layer basic-ui {
  .badge-container {
    background-color: var(--colorActionSecondary);
    color: var(--colorTextWhite);
    border-radius: var(--borderRadius);
    min-width: 1.5rem;
    max-width: 1.5rem;
    min-height: 1.5rem;
    max-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -0.75rem;
    right: -0.75rem;
    padding: 2px;
    cursor: default;
  }
}
